<template>
  <q-page class="row items-center justify-evenly">
    <a href="/news" class="text-h1">News</a>
  </q-page>
</template>

<script setup lang="ts">

defineOptions({
  name: 'MainPage'
});


</script>
