<template>
  <q-page class="row items-center justify-evenly">
    <news-list :articles="news"></news-list>

    <div class="q-pa-lg flex flex-center">
      <q-pagination
        v-model="pagination.page"
        :max="pagination.max"
        @update:model-value="nextPage"
        direction-links
        boundary-links
        icon-first="skip_previous"
        icon-last="skip_next"
        icon-prev="fast_rewind"
        icon-next="fast_forward"
      />
    </div>
  </q-page>
</template>

<script setup lang="ts">
import {onMounted, ref} from 'vue';
import NewsList from 'components/NewsList.vue';
import {api} from 'boot/axios';

defineOptions({
  name: 'NewsPage'
});

const pagination = ref({
  page: 1,
  rowsPerPage: 10,
  max: 10
})

onMounted(async () => {
  try {
    await fetch();

  } catch (e) {
    console.log(e);
  }

})
const nextPage = async () => {
  await fetch()
}

const fetch = async() => {
  const resp = (await api.get('/api/news', {params: {page: pagination.value.page}})).data
  news.value = resp.data
  pagination.value.max = resp.per_page
}
const news = ref([]);
</script>
