<template>
  <div class="q-px-lg q-pt-lg">
      <q-list bordered separator>
        <q-item clickable v-ripple :active="isActive" active-class="text-green">
          <div class="row full-width">
            <div class="text-h6 col-2">Title</div>
            <div class="text-h6 col-10">{{oneNewsItem?.title}}</div>
          </div>

        </q-item>
        <q-item clickable v-ripple :active="isActive" active-class="text-green">
          <div class="row full-width">
            <div class="col-2">Create date</div>
            <div class="col-10">{{oneNewsItem?.created_at}}</div>
          </div>
        </q-item>
        <q-item clickable v-ripple :active="isActive" active-class="text-green">
          <div class="row full-width">
            <div class="col-2">Short Description</div>
            <div class="col-10">{{oneNewsItem?.short_description}}</div>
          </div>
        </q-item>
        <q-item clickable v-ripple :active="isActive" active-class="text-green">
          <div class="row full-width">
            <div class="col-2">Full Description</div>
            <div class="col-10">{{oneNewsItem?.full_description}}</div>
          </div>
        </q-item>
        <q-item clickable v-ripple :active="isActive" active-class="text-green">
          <div class="row full-width">
            <div class="col-2">Link</div>
            <div class="col-10">{{oneNewsItem?.url}}</div>
          </div>
        </q-item>
        <q-item>
          <q-toggle v-model="isActive" label="Active" @update:model-value="change" />
        </q-item>
      </q-list>
  </div>
</template>

<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {api} from 'boot/axios';
import {FullArticle} from 'components/models';
import {useRoute} from 'vue-router';

const route = useRoute();

defineOptions({
  name: 'OneNewsItemPage'
});

onMounted(async () => {
  try {
    const id = route.params.id;
    console.log(id);
    oneNewsItem.value = (await api.get(`/api/news/${id}`)).data
    isActive.value = oneNewsItem.value?.is_show || false
  } catch (e) {
    console.log(e);
  }

})
const oneNewsItem = ref<FullArticle|null>(null);
const isActive = ref<boolean>(false);
const change = async() => {
  const requestData = {is_show: isActive.value}
  await api.post(`api/news/${oneNewsItem.value?.id}/change-status`, requestData)

}
</script>
