<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 text-grey-9">{{ props.article.title }}</div>
      <div class="text-subtitle2">{{ props.article.created_at }}</div>
    </q-card-section>
    <q-separator inset/>
    <q-card-section>
      {{ props.article.short_description }}
    </q-card-section>
    <q-separator inset/>
    <q-card-actions>
      <div class="row justify-between full-width">
        <q-btn @click="goToArticle(props.article.id)"> More ...</q-btn>
        <q-btn tag="a" :href="props.article.url">Link to resource</q-btn>
      </div>
    </q-card-actions>
  </q-card>
</template>Card

<script setup lang="ts">
import {Article} from './models';
import {useRouter} from 'vue-router';

const router = useRouter();

interface ArticleProps {
  article: Article
}

const props = defineProps<ArticleProps>()

const goToArticle = (id: number) => {
  router.push({path: `news/${id}`} );
}


</script>
