<template>
  <div>
    <div class="row">
      <div class="col-12 q-py-sm q-px-sm" v-for="(article) in props.articles" :key="article.id">
        <card-article :article="article"></card-article>
      </div>
    </div>


  </div>

</template>

<script setup lang="ts">
import {Article} from 'components/models';
import CardArticle from 'components/CardArticle.vue';

defineOptions({
  name: 'NewsList'
});

export interface ArticlesProps {
  articles: Article []
}

const props = defineProps<ArticlesProps>()

</script>
